@charset "UTF-8";
/****** Général ***********/
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

section {
  padding: 50px 20px;
}

p {
  font-weight: 300;
}

/****** Variables - couleurs ***********/
/****** Variables - radius ***********/
/****** Variables - shadows ***********/
/****** Variables - textes ***********/
/****** Variables - transitions ***********/
/****** Mixins ***********/
/****** Composants ***********/
.main-container {
  background-color: #F3F3F3;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
}

.btn {
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 15px 25px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 300ms ease-out;
}
.btn__txt {
  position: relative;
  z-index: 1;
}
.btn::before {
  content: "";
  background: linear-gradient(rgb(255, 141.1, 223.55), rgb(163.2, 111.35, 225.25));
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.btn:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
.btn:hover::before {
  opacity: 1;
}

.like {
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}
.like__icon {
  color: #101010;
  font-size: 22px;
  transition: all 50ms linear;
}
.like__icon--filled {
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(0.6);
}
.like__icon-empty {
  opacity: 1;
}
.like:active .like__icon--filled {
  opacity: 1;
  transform: scale(1);
}
.like:active .like__icon-empty {
  opacity: 0;
}

.badge {
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  position: absolute;
}

.header {
  font-size: 16px;
  background-color: white;
  display: flex;
}
.header__logo {
  width: 162px;
}

.footer {
  color: white;
  font-size: 16px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
}
.footer__logo {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  display: block;
}
.footer__links, .footer__group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__link {
  font-weight: 400;
}
.footer__link--icon {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer__icon {
  font-size: 12px;
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
@media (min-width: 768px) {
  section {
    padding: 50px 80px;
  }
  .footer {
    padding: 30px 25px;
  }
  .footer__links {
    gap: 50px;
  }
  .footer__group {
    gap: 14px;
  }
  .footer__links, .footer__group {
    flex-direction: row;
  }
}
/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
  section {
    padding: 50px 180px;
  }
  .like:hover .like__icon--filled {
    opacity: 1;
    transform: scale(1);
  }
  .like:hover .like__icon-empty {
    opacity: 0;
  }
  .header__logo {
    width: 200px;
  }
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
    padding: 60px 50px 30px 25px;
  }
}
.home-header {
  flex-direction: column;
}
.home-header__logo-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  padding: 15px 0;
  z-index: 1;
}
.home-header__location {
  color: #353535;
  font-weight: 500;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
}

.hero {
  text-align: center;
}
.hero__subtitle {
  color: #353535;
  font-size: 18px;
  margin-top: 10px;
}
.hero__btn {
  margin-top: 30px;
}

.steps {
  background-color: white;
}
.steps__title {
  margin-bottom: 30px;
}
.steps__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 12px;
}
.steps__item {
  font-weight: 500;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px;
  width: 100%;
  position: relative;
}
.steps__number {
  color: white;
  font-size: 14px;
  background-color: #9356DC;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
}
.steps__icon {
  color: #7E7E7E;
  font-size: 19px;
}
.steps__icon--purple {
  color: #9356DC;
}
.steps__text {
  font-size: 16px;
}

.restaurants__title {
  margin-bottom: 20px;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
.restaurants__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurants__card-img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 170px;
  object-position: bottom;
}
.restaurants__card-img--center {
  object-position: 50% 60%;
}
.restaurants__badge {
  top: 12px;
  right: 12px;
}
.restaurants__card-content {
  padding: 15px 13px;
}
.restaurants__card-title {
  font-size: 18px;
  font-weight: 700;
}
.restaurants__card-subtitle {
  font-size: 17px;
  margin-top: 3px;
}
.restaurants__like {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
@media (min-width: 768px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 50px;
  }
}
/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
  .home-header__logo-wrapper {
    padding: 30px 0;
  }
  .home-header__logo-wrapper, .home-header__location {
    box-shadow: none;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__subtitle {
    margin-top: 25px;
  }
  .steps__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
  }
  .restaurants__cards {
    gap: 50px 100px;
  }
}
.restaurant-header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  position: relative;
}
.restaurant-header__back {
  position: absolute;
  left: 20px;
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
  .restaurant-header {
    padding: 30px 0;
  }
}

/*# sourceMappingURL=style.css.map */
