@use "sass:color";

/****** Général ***********/
body {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

p {
    font-weight: 300;
}

/****** Variables - couleurs ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$main-bg-color: #F3F3F3;
$location-bg-color: #EAEAEA;
$medium-grey: #7E7E7E;
$dark-grey: #353535;
$dark-green: #008766;
$btn-gradient: linear-gradient($secondary-color, $primary-color);
$btn-light-gradient: linear-gradient(color.scale($secondary-color, $lightness:15%), color.scale($primary-color, $lightness:15%));
$like-gradient: linear-gradient($primary-color, $secondary-color);

/****** Variables - radius ***********/
$btn-radius: 25px;
$card-radius: 15px;

/****** Variables - shadows ***********/
$btn-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
$btn-dark-shadow: 0 4px 15px 0 rgba(0,0,0,0.35);
$card-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);

/****** Variables - textes ***********/
$logo-font: "Shrikhand", serif;
$card-title: 18px;

/****** Variables - transitions ***********/
$btn-transition: 300ms ease-out;
$like-transition: 50ms linear;

/****** Mixins ***********/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin card {
    background-color: white;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
}

/****** Composants ***********/
.main-container {
    background-color: $main-bg-color;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
}

.menu-title {
    font-family: $logo-font;
    font-size: 28px;
}

.btn {
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: $btn-gradient;
    border-radius: $btn-radius;
    box-shadow: $btn-shadow;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: box-shadow $btn-transition;

    &__txt {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        background: $btn-light-gradient;
        position: absolute;
        inset: 0;
        z-index: 0;
        opacity: 0;
        transition: opacity $btn-transition;
    }

    &:hover {
        box-shadow: $btn-dark-shadow;

        &::before {
            opacity: 1;
        }
    }
}

.like {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;

    &__icon {
       color: #101010;
       font-size: 22px;
       transition: all $like-transition;

       &--liked {
        color: transparent;
        background: $like-gradient;
        background-clip: text;
        position: absolute;
        inset: 0;
        opacity: 0;
        transform: scale(0.6);
       }
    }

    &__icon-none {
        opacity: 1;
    }

    &:active {
        .like__icon--liked {
            opacity: 1;
            transform: scale(1);
        }

        .like__icon-none {
            opacity: 0;
        }
    }
}

.badge {
    color: $dark-green;
    font-size: 14px;
    font-weight: 500;
    background-color: $tertiary-color;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    padding: 6px 12px;
    position: absolute;
}

.header {
    font-size: 16px;
    background-color: white;
    display: flex;

    &__logo {
        width: 162px;
    }
}

.footer {
    color: white;
    font-size: 16px;
    background-color: $dark-grey;
    @include flex-column;
    gap: 16px;
    padding: 22px 25px;

    &__logo {
        font-family: $logo-font;
        font-size: 18px;
        display: block;
    }

    &__links, &__group {
        @include flex-column;
        gap: 7px;
    }

    &__link {
        font-weight: 400;
        
        &--icon {
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 7px;
        }
    }

    &__icon {
        font-size: 12px;
    }
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
@media (min-width: 768px) {
    .footer {
        padding: 30px 25px;

        &__links {
            gap: 50px;
        }

        &__group {
            gap: 14px;
        }
        
        &__links, &__group {
            flex-direction: row;
        }
    }
}

/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
    .like {
        &:hover {
            .like__icon--liked {
                opacity: 1;
                transform: scale(1);
            }

            .like__icon-none {
                opacity: 0;
            }
        }
    }
    
    .header {
        &__logo {
            width: 200px;
        }
    }

    .footer {
        flex-direction: row-reverse;
        align-items: center;
        gap: 100px;
        padding: 60px 50px 30px 25px;
    }
}