@use "general" as *;
.home-header {
    flex-direction: column;

    &__logo-wrapper {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
        display: flex;
        justify-content: center;
        padding: 15px 0;
        z-index: 1;
    }

    &__location {
        color: $dark-grey;
        font-weight: 500;
        background-color: $location-bg-color;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
        @include flex-center;
        gap: 17px;
        height: 50px;
    }
}

.hero {
    text-align: center;
    
    &__subtitle {
        color: $dark-grey;
        font-size: 18px;
        margin-top: 10px;
    }

    &__btn {
        margin-top: 30px;
    }
}

.steps {
    background-color: white;

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        @include flex-column;
        gap: 25px;
        padding-left: 12px;
    }

    &__item {
        font-weight: 500;
        background-color: #F6F6F6;
        border-radius: 20px;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.15);
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 25px;
        width: 100%;
        position: relative;
    }

    &__number {
        color: white;
        font-size: 14px;
        background-color: $primary-color;
        border-radius: 50px;
        @include flex-center;
        width: 24px;
        height: 24px;
        position: absolute;
        left: -12px;
    }

    &__icon {
        color: $medium-grey;
        font-size: 19px;

        &--purple {
            color: $primary-color;
        }
    }

    &__text {
        font-size: 16px;
    }
}

.restaurants {
    &__title {
        margin-bottom: 20px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 18px;
    }

    &__card {
        @include card;
        @include flex-column;
        position: relative;
    }

    &__card-img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 170px;
        object-position: bottom;

        &--center {
            object-position: 50% 60%;
        }
    }

    &__badge {
        top: 12px;
        right: 12px;
    }

    &__card-content {
        display: flex;
        justify-content: space-between;
        padding: 15px 13px;
    }

    &__card-title {
        font-size: $card-title;
        font-weight: 700;
    }

    &__card-subtitle {
        font-size: 17px;
        margin-top: 3px;
    }
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
@media (min-width: 768px) and (max-width: 1024px) {

}

/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
    .home-header {
        &__logo-wrapper {
            padding: 30px 0;
        }
        &__logo-wrapper, &__location {
            box-shadow: none;
        }
    }

    .hero {
        &__title {
            font-size: 40px;
        }

        &__subtitle {
            margin-top: 25px;
        }
    }

    .steps {
        &__list {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 37px;
        }
    }

    .restaurants {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 100px;
        }
    }
}