@use "general" as *;

.home-header {
    flex-direction: column;

    &__logo-wrapper {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
        display: flex;
        justify-content: center;
        padding: 15px 0;
        z-index: 1;
    }

    &__location {
        color: $dark-grey;
        font-weight: 500;
        background-color: $location-bg-color;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
        @include flex-center;
        gap: 17px;
        height: 50px;
    }
}

.hero {
    text-align: center;
    
    &__subtitle {
        color: $dark-grey;
        font-size: 18px;
        margin-top: 10px;
    }

    &__btn {
        margin-top: 30px;
    }
}

.steps {
    background-color: white;

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        @include flex-column;
        gap: 20px;
    }

    &__item {
        font-weight: 500;
        background-color: #F6F6F6;
        border-radius: 20px;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.15);
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 25px 0;
    }

    &__number {
        color: white;
        font-size: 14px;
        background-color: $primary-color;
        border-radius: 50px;
        @include flex-center;
        width: 24px;
        height: 24px;
        margin-left: -12px;
    }

    &__icon {
        color: $medium-grey;
        font-size: 19px;

        &--purple {
            color: $primary-color;
        }
    }

    &__text {
        font-size: 16px;
    }
}