@use "general" as *;

.restaurant-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: relative;

    &__back {
        position: absolute;
        left: 20px;
    }
}

.menu {
    background-color: $main-bg-color;
    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px 30px 15px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0 15px;
        margin-bottom: 40px;
    }

    &__cards-title {
        font-size: 16px;
        font-weight: 300;
    }

    &__cards-underline {
        background-color: $tertiary-color;
        border: none;
        width: 40px;
        height: 3px;
        margin-top: 5px;
    }

    &__card {
        @include card;
        padding: 15px;
    }

    &__card-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card-subtitle {
        font-size: 15px;
    }

    &__card-price {
        font-size: 15px;
        font-weight: 700;
    }
}

.order {
    background-color: $main-bg-color;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    &__btn {
        padding: 15px 50px;
    }
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
@media (min-width: 768px) {
    .menu {
        &__title {
            justify-content: center;
            gap: 20px;
            padding: 30px 0;
        }

        &__cards {
            padding: 0 50px;
        }
    }
}

/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
    .restaurant-header {
        padding: 30px 0;
    }

    .menu {
        margin: 0 180px;

        &__title {
            padding: 40px 0;
        }

        &__cards {
            padding: 0 200px;
        }
    }

    .order {
        margin: 0 180px;
    }
}