@use "general" as *;

.restaurant-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: relative;

    &__back {
        position: absolute;
        left: 20px;
    }
}

.menu {
    background-color: $main-bg-color;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px 30px 15px;
    }
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
@media (min-width: 768px) {
}

/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
    .restaurant-header {
        padding: 30px 0;
    }

    .menu {
        margin: 0 180px;

        &__title {
            justify-content: center;
            gap: 20px;
            padding: 50px 180px;
        }
    }
}