@use "general" as *;

@keyframes card-slide-in {
    0% {
        opacity: 0.2;
        transform: scaleX(0.2);
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.restaurant-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    align-items: center;
    position: relative;

    &__back {
        font-size: 16px;
        position: absolute;
        left: 20px;
    }
}

.restaurant-cover {
    height: 275px;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 275px;
        object-position: 50% 60%;
    }
}

.menu {
    background-color: $main-bg-color;
    border-radius: 30px 30px 0 0;
    @include flex-column;
    margin-top: -50px;
    position: relative;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px 30px 15px;
    }

    &__cards {
        @include flex-column;
        gap: 12px;
        padding: 0 15px;
        margin-bottom: 40px;
    }

    &__cards-title {
        font-size: 16px;
        font-weight: 300;
    }

    &__cards-underline {
        background-color: $tertiary-color;
        border: none;
        width: 40px;
        height: 3px;
        margin-top: 5px;
    }

    &__card {
        cursor: pointer;
        @include card;
        padding: 15px;
        position: relative;
        overflow: hidden;
        transition: padding-right 350ms ease-out;

        &--starters, &--main, &--desserts {
            opacity: 0;
            transform: scaleX(0);
            transform-origin: left;
        }

        &--starters {
            animation: card-slide-in 0.5s ease-out forwards 0.2s;
        }

        &--main {
            animation: card-slide-in 0.5s ease-out forwards 0.6s;
        }

        &--desserts {
            animation: card-slide-in 0.5s ease-out forwards 1s;
        }

        &:active {
            padding-right: 74px;
        }

        &:active > .menu__select {
            transform: translateX(0);
        }
    }

    &__card-title {
        font-size: $card-title;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 5px;
    }

    &__card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card-subtitle {
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__card-price {
        font-size: 15px;
        font-weight: 700;
    }

    &__select {
        color: white;
        background-color: $tertiary-color;
        border-radius: 0 15px 15px 0;
        @include flex-center;
        width: 59px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    &__select-icon {
        font-size: 20px;
    }
}

.order {
    background-color: $main-bg-color;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    &__btn {
        padding: 15px 50px;
    }
}

/****** Media queries ***********/
/****** Medium device (tablet) ***********/
@media (min-width: 768px) {
    .menu {
        &__title {
            justify-content: center;
            gap: 20px;
            padding: 30px 0;
        }

        &__cards {
            padding: 0 50px;
        }
    }
}

/****** Large device (desktop) ***********/
@media (min-width: 1025px) {
    .restaurant-cover {
        height: 383px;

        &__img {
            height: 383px;
        }
    }

    .menu {
        margin: -50px 180px 0 180px;

        &__title {
            padding: 40px 0;
        }

        &__cards {
            padding: 0 200px;
        }

        &__card {
            &:hover {
            padding-right: 74px;
            }

            &:hover .menu__select {
            transform: translateX(0);
            }
        }
    }

    .order {
        margin: 0 180px;
    }
}